td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333}
.header_bg { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; background-color: #969696;}

.header_link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; }

.buttons {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #333333; background-color: #F7F7F7; border: #333333; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.textfield {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333333}
.h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FF6600}
.h12 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; 
color: #FF6600;
text-decoration:none;
}

.h11 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold; color: #FF6600}
.evenRow {  background-color: #FFFFFF}
.oddRow {  background-color: #f2f2f2}
/*a:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #006699}*/
.fields_txt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000}
.lin1:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	text-decoration: underline;
}
.lin1:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	text-decoration: underline;
}
.lin1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.lin2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight:bold;
	text-decoration: none;
	text-transform: capitalize;
}
.lin2:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight:bold;
	text-decoration: none;
}
.lin2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#076E7B;
	text-decoration: none;
}
.jus {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	text-align: justify;
}




body {
	/*background-color: #FFFFFF;*/
	/*background: url(../images/bg.gif);*/
	color: #333333;
	font-family: Tahoma;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.einput{
    background-color: #FFFFFF !important;
	border : 1px solid #000000 !important;
	color: #000000 !important;
    font-family: Tahoma;
    font-size: 11px;
}

.einputc{
    background-color: #FFFFE0 !important;
	border : 1px solid #000000 !important;
	color: #000000 !important;
    font-family: Tahoma;
    font-size: 11px;
}


.bodytext{

   color: #FFFFFF;
   font-family: Tahoma;
   font-size: 11px;  
   text-decoration: none 
}

.bodytext:hover{

   color: #FFFFCC;
   font-family: Tahoma;
   font-size: 11px;  
   text-decoration: underline; 
}

.cltext{

   color: #FBDF44;
   font-family: Tahoma;
   font-size: 11px;  
   text-decoration: none 
}

.htext{

   color: #000000;
   font-family: Tahoma;
   font-size: 11px;  
   text-decoration: none 
}
.htextbold{
   color:#666666;
   font-family: Tahoma;
   font-weight:Bold;
   font-size: 11px;  
   text-decoration: none;
   
   
}
.htext:link, .htext:visited, .htext:active{

   color: #000000;
   font-family: Tahoma;
   font-size: 11px;  
    text-decoration: underline;
}

.htext:hover{

   color: #BD0000;
   font-family: Tahoma;
   font-size: 11px;  
    text-decoration: underline;
}

.lk2 {
   color: #0000FF;
   font-family: Tahoma;
   font-size: 11px;  
   text-decoration: underline; 
}

.lk2:hover {
   color:#CC0000;
}

.toptext{

   color: #FFFFFF;
   font-family: Tahoma;
   font-size: 11px; 
   font-weight: bold;  
   text-decoration: none;
   width: 100%;
   padding-top: 8px;
   padding-left: 17px;
   filter:dropshadow(color=#57616A, offx=1, offy=2, positive=true);
}

.toptext:hover{

   color: #FFFF99;
   font-family: Tahoma;
   font-size: 11px;  
   text-decoration: underline;
}


.btext{

   color: #000000;
   font-family: Tahoma;
   font-size: 13px;  
   font-weight: bold; 
}


.atext{

   color: #000000;
   font-family: Tahoma;
   font-size: 18px;
   font-weight: bold;
}



.leftt{

   color: #FFFFFF;
   font-family: Tahoma;
   font-size: 14px;  
   font-weight: bold; 
   width:100%;
     /*filter:dropshadow(color=#C0C0C0, offx=1, offy=2, positive=true);*/
   text-decoration: none 
}

.inputbox {
  height:18px; 
  font-size:11px; 
  font-family: Tahoma; 
  color:#000000 !important;
  border:1px solid #000000 !important;
  }

.textbox { 
  font-size:11px; 
  font-family: Tahoma; 
  color:#000000 !important;
  border:1px solid #000000 !important;
  }


.divst{
	float:left;
	width:235px;
	margin:0px 0px 30px 0px;
	padding:5px;
	text-align:center;
}

.wel{

   color: #000000; D1EEFC;
   font-family: Tahoma;
   font-size: 11px;
   font-weight: none;
   width:100%;
   height:100%;
   padding-top:5px;
   padding-right:10px;
   line-height:160%;
}
.est{

   color: #D1EEFC;
   font-family: Tahoma;
   font-size: 12px;
   font-weight: bold;
   width:100%;
   padding-left:10px;
   padding-top:55px;
   text-decoration: none 
}

.link{

   color: #ffffff;
   font-family: Tahoma;
   font-size: 13px;
   font-weight: bold;
   width:100%;
   padding-left:22px;
  text-decoration: none;
 }

.link:hover{

   color: #ee9551;
   font-family: Tahoma;
   font-size: 13px;
   font-weight: bold;
   width:100%;
   padding-left:22px;
  text-decoration: none;
  
  
}
.list{

   color: #000000;
   font-family: Tahoma;
   font-size: 12px;
   font-weight: bold;
   text-decoration: none
}
.put{

   color: #000000;
   font-family: Tahoma;
   font-size: 11px;
   font-weight: none;
   line-height:150%;
   text-decoration: none 
}  

  
  
.mort{

   color: #939392;
   font-family: Tahoma;
   font-size: 11px;
   font-weight: bold;
   width:100%;
   padding-left:6px;
   text-decoration: none 
} 
.click{

   color: #E1772D;
   font-family: Tahoma;
   font-size: 11px;
   font-weight: bold;
   width:100%;
   padding-left:6px;
   text-decoration: none 
}  
.already{

   color: #000000;
   font-family: Tahoma;
   font-size: 11px;
   font-weight: bold;
   
   text-decoration: none 
}  
.box{
border-top:1px solid #f2f2f2;
border-left:1px solid #f2f2f2;
border-right:1px solid #f2f2f2;
border-bottom:2px solid #f7f7f7;
}

.prc{
   color: #000080;
   font-family: Tahoma;
   font-size: 13pt;  
   font-weight: bold;
}

.text11{
   color: #000000;
   font-family: Tahoma;
   font-size: 10pt;  

}


.bt1 { 
	border:1px solid #000000;
	color:#000000;
	background:#FFFFFF;
}

.rd1 { 
	color: #ff0000;
}


.heading1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
font-weight:bold;
}
.heading1b {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#ffffff;
font-weight:bold;
}
.heading2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#333333;
font-weight:bold;
}
.heading3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#333333;
font-weight:bold;
}
.jus {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	text-align: justify;
}
.link1:link, .link1:visited,  .link1:active {
font-family:Verdana, Tahoma;
font-size:11px;
color:#000000;
text-decoration:underline;

}
.link1:hover {
font-family:Verdana, Tahoma;
font-size:11px;
color:#ed5200;
text-decoration:underline;
}
.link2 {
font-family:Verdana, Tahoma;
font-size:11px;
color:#000000;
text-decoration:underline;
}
.link3:link {
font-family:Verdana, Tahoma;
font-size:10px;
color:#f94303;
text-decoration:none;
}
.link3:hover {
font-family:Verdana, Tahoma;
font-size:10px;
color:#ffffff;
text-decoration: none;
}
.link3:visited {
font-family:Verdana, Tahoma;
font-size:10px;
color:#f94303;
text-decoration:none;
}
.link3:active {
font-family:Verdana, Tahoma;
font-size:10px;
color:#f94303;
text-decoration:none;
}
.lin4:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
.lin4:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}
.lin4:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.lin4:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}


#tlb { 
	display:block;
}

#tlb a { 
	width: 207px;
	height: 31px;
}



.butta {
	background-color: #ed5200 !important;
	color: #ffffff !important;
	font-family: Tahoma;
	font-size: 13px;
	padding: 3px;
	cursor: hand;
	font-weight: bold;
	border: 1px solid #000000 !important;
	filter rogid XImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#f94303',EndColorStr='#ee9551');
}
.anime_box_cell {
background:#ffffff;
border:1px solid #000;
}

.left_text
{
font-family: Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:none;
color:#ffffff;

}

.center_text
{
font-family: Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:none;
color:#4c4c4c;

}



.link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:none;
color:#3e3e3e;

}


.heading
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#ad1215;

}


.bot
{
font-family: Arial, Helvetica, sans-serif;
font-size:9pt;
font-weight:none;
color:#ffffff;

}


.dir {
FONT-WEIGHT: none; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none; 
}
.dir:link {
FONT-WEIGHT: none; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none;
}
.dir:visited {
FONT-WEIGHT: none; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none;
}
.dir:hover {
FONT-WEIGHT: none; FONT-SIZE: 10pt; COLOR: #b0b0b0; FONT-FAMILY: Arial; TEXT-DECORATION:  underline;
}




 .map
 {
    background-image: url('bk.gif');
    background-repeat: no-repeat
    }
	
	
	.white {
FONT-WEIGHT: none; font-size:13px; MARGIN-TOP: 0px; MARGIN-LEFT: 5px; COLOR: #FFFFFF; FONT-FAMILY: arial; 
}
.white_right {
FONT-WEIGHT: none; font-size:13px;  COLOR: #FFFFFF; FONT-FAMILY: arial; TEXT-DECORATION: none;
}
.white_right :hover {
FONT-WEIGHT: none; font-size:13px;  COLOR: #FFFFFF; FONT-FAMILY: arial;
}

.smalltxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	line-height: normal;
}
